h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #deeafc;
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 22px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #150f80;
}
h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #150f80;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
  
p {
  font-family:'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #150f80;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
  
header{
  margin: 0;
}
.navbar {
  padding-top: 1rem;
  background-color: #deeafc;
  color: #150f80;
  display: space-between;
  justify-content: space-between;
}
ul {
  display: inline-flex;
  justify-content: center;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  list-style: none;
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: bold;
}
li {
  padding: 1.0rem 1.0 rem;
  margin-right: 1.5 rem;
  display: inline;
  margin-right: 10px;
}
.header-container {
  height: 30rem;
  width: auto;
  display: flex;
  background-image: url(https://imagescdn.homes.com/i2/TMAVsJbv_Br_Y-PO_cgHTJs9oV6CRwOum9nVTtG8ScY/111/eastwood-academy-houston-tx-6-schoolphoto.jpg?p=1);
  align-items: center;
  background-position: center;
  background-repeat: none;
}
.name {
  background-color: #150f80;
  opacity: 0.9;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
  padding-top: 1rem;
}
.name h1{
  text-align: center;
  font-size: 3rem;
}

body{
  background-color: #deeafc;
  margin:0;
  display: block;
  font-size: 18px;
}
.Teachers {
  padding: 0 3rem;
}
.Teachers h2 {
  text-align: center;
  font-size: 3rem;
}
.Teachers,
.Student-life,
.Clubs {
  margin:4em auto;
}
.Student-life {
  background-color: #deeafc;
  height: 20rem;
  padding: 0 3rem;
  padding-top: 1rem;
}
.student-life h2{
  text-align: center;
  color: #150f80;
  font-size: 3rem;
  font-style: bold;
}
.Clubs {
  margin-bottom: 2rem;
  display: block;
  background-color:#deeafc;
  padding: 0 3rem;
  padding-top: 1rem;
}

.clubs h2 {
  text-align: center;
  color: #150f80;
  font-size: 3rem;
  font-style: bold;
}

.photos img {
  margin: 1.5%
  width: 30%
}
img {
  overflow-clip-margin:  content-box;
  overflow: clip;
}
li {
  display: block;
  text-align: center;
}
.Student-life img {
  mac-width: 100%;
  margin: auto;
}






.Contact {
  background-color: #deeafc;
  text-align: center;
  display: block;
  padding: 0 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.Contact img {
  height: 30rem;
  width: auto;
  display: block;
  margin: auto;
}



    

  
